p{
  font-family: Arial;
  margin-top: 0;        
  margin-bottom: 0;
}
body{
  font-family: arial;
  margin: 0;
  padding-top: 75px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgba(255, 251, 251, 0.991);
}
/*comment kwa css*/