.sidebar{
  padding-top: 5px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
}
.sidebar-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 82px;
  margin-bottom: 1px ;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(240, 237, 237);
}
.sidebar-link img {
  height: 26px;
  margin-bottom: 4px;
}
.sidebar-link div{
  
  font-size: 11px;
}